.container{
    position:relative;
    left: 33px;
    top:73px;
    display:flex;
    flex-direction:column;
    margin:80px;
    padding: 4px;
     
}
img{
    border-radius: 100%;
    width: 180px;
    height: 180px;
}

.sample{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight:500;
}
